{% extends 'base.html' %}

{% load static %}

{% block body %}
<section class="movie-list-section">
    <div class="movie-list-container">
        <h2>List of Movies</h2>
        <h3>Total: {{ movies.all.count }}</h3>

        {% for movie in movies %}
            <div class="movie-card">
                <ul>
                    <li>Title: {{ movie.title }}</li>
                    <li>URL: <a href="{{ movie.url }}" target="__blank">{{ movie.url }}</a></li>
                    <li>Year: {{ movie.year }}</li>
                    <li>Genres:
                        {% for genre in movie.genres.all %}
                            {{ genre }},
                        {% endfor %}
                    </li>
                    <li>Runtime: {{ movie.runtime }}</li>
                </ul>
            </div>
            <hr>
        {% endfor %}
    </div>
</section>
{% endblock %}
